


buildme.sh
removeme.sh
upload.sh


Caddyfile

docker-compose-reverse.yml
docker-compose-reverse.*.env
docker-compose-npm-advanced.env


*.pem
!*.placeholder.pem


.DS_Store
._*

.priv*


todo.txt
todo.*.txt
done.txt
.env
node_modules/
dist/
coverage/
*.log

backups/*
!backups/postgres/
backups/postgres/*
!backups/postgres/.gitkeep

nginx-proxy-manager
